<header class="header">
    <app-back-leaf class="header__backleaf"></app-back-leaf>
    <app-logo-text class="header__logo"></app-logo-text>
    <app-fore-leaf class="header__foreleaf"></app-fore-leaf>
</header>
<section class="content">
  <div class="content__full">
    <mat-tab-group color="accent" mat-stretch-tabs>
      <mat-tab label="Overview">
        <div class="content__jumbotron">
          <div class="content__jumbotron--cta">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Perspiciatis, facilis quae! Maxime illo odio maiores.
              Possimus, modi, neque voluptatibus qui quas maiores earum
              quo ut vel voluptatum, hic officia animi?
          </div>
          <div class="content__jumbotron--illustration">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Perspiciatis, facilis quae! Maxime illo odio maiores.
            Possimus, modi, neque voluptatibus qui quas maiores earum
            quo ut vel voluptatum, hic officia animi?
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Products"></mat-tab>
      <mat-tab label="Features"></mat-tab>
      <mat-tab label="Terms of Use"></mat-tab>
    </mat-tab-group>
  </div>
  <div class="content__main">
    <div style="text-align:center">
      <h1>
        Welcome
      </h1>
      <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
  </div>
  <div class="content__full"></div>
  <div class="content__main"></div>
</section>
