// Nature Creations Stylesheet v2.0.0
@import './assets/theme.scss';

\:root {
 font-size: 16px;
}
html, body {
  font-family: 'Roboto', sans-serif;
  // max-width: 1024px;
  height: 100%;
  margin: 0;
}

figure {
  margin: auto;
}

img {
  max-width: 100%;
}

.company {
  :after {
    padding-right: 1rem;
  }
}

.company__name {
  font-family: 'Aclonica', sans-serif;
  vertical-align: center;
  font-size: 0.75em;
  @media (min-width: 26.5625em) {
    font-size: 1.125em;
  }
}

.nav--spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header {
  position: relative;
  height: 600px;
  // margin: 5rem auto;
  background: {
    image: url('./assets/images/Fall-Leaves-Red-Bg.png');
    repeat: no-repeat;
    size: 100% 638px;
    position: top center;
    attachment: fixed;
  }
  overflow: hidden;
}

.header__logo {
  height: 100px;
  width: 100%;
  background: {
    // color: pink;
    image: url('./assets/images/text.svg');
    repeat: no-repeat;
    position: center;
  }
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.header__foreleaf {
  width: 960px;
  height: 600px;
  background: {
    // color: transparentize(pink, 0.3);
    image: url('./assets/images/Trunk-Leaf.png');
    repeat: no-repeat;
    position: right bottom;
  }
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 345px;
}

.header__backleaf {
  width: 960px;
  height: 395px;
  background: {
    image: url('./assets/images/Leaf-motion.png');
    repeat: no-repeat;
    position: top left;
    // color: transparentize(pink, 0.3);
  }
  position: absolute;
  left: 50%;
  margin-left: -480px;
}

// Content --grid
.content {
  display: grid;
  grid-template-columns:
    [full-start] minmax(0.625em, 1fr)
    [main-start] minmax(0, 50em) [main-end]
    minmax(0.625em, 1fr) [full-end];
  // grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  // margin-top: 5rem;

  // media query
  /* @media (max-width: 26.875em) {
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    // margin: 0 auto ;
  } */
}
 .content__main {
   grid-column: main;
   background: {
      color: rgb(114, 230, 224);
    }
 }

 .content__full {
   grid-column: full;
   grid-row: span 2;
   background: {
      color: rgb(81, 240, 76);
    }
 }

 .content__jumbotron {
   display: flex;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 2em;
   grid-auto-rows: minmax(100px, auto);

   div {
    background: {
      color: pink;
    }
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
   }

   // media query
  @media (max-width: 26.5625em) {
    grid-template-columns: repeat(auto-fit, minmax(12.5em, 1fr));
    grid-gap: 0;
  }
 }

 .content__jumbotron--cta {
  text-align: left;
 }

 .content__jumbotron--illustration {
  align-self: center;
 }
.content--footer {
  bottom: 0;
}
